<p class="flow-text">New Product</p>
<div class="row ">
  {{md-input value=newObject.title label="Product name" class="col s12 m6"}}
  {{md-input value=newObject.titleVn label="Product name VN" class="col s12 m6"}}
</div>
<div class="row">
  {{md-input value=newObject.volume label="Volume" class="col s6"}}
  {{md-input value=newObject.metric label="Volume VN" class="col s6"}}
  {{!-- {{md-input value=newObject.productCategoryId label="Category ID" class="col s6"}} --}}
</div>

{{#power-select
  selected=category
  options=categories
  searchField="catType"
  onchange=(action "chooseCategory")
  as |category| }}
  {{category.catType}}
{{/power-select}}

<div class="row">
  {{md-textarea label="Description"
    value=newObjectdescription class="col s12"}}
  {{md-textarea label="Description VN"
    value=newObjectdescriptionVn class="col s12"}}
</div>

<div class="row">
  {{md-input value=newObject.imageUrl label="Main Image Url" class="col s12"}}
</div>
<div class="row">
  {{md-input value=newObject.imageUrl2 label="Image Url 2" class="col s12"}}
</div>
<div class="row">
  {{md-input value=newObject.imageUrl3 label="Image Url 3" class="col s12"}}
</div>
<div class="row">
  {{md-input value=newObject.imageUrl4 label="Image Url 4" class="col s12"}}
</div>
