<!--Admin Navigation tab-->

{{#if isAuthenticated}}
<button class="btn btn-default admin-navigation red" type="button" name="button" {{action "adminModal"}}><i class="material-icons">flip_to_front</i></button>
{{/if}}
{{#if isAdminModal}}
{{#md-modal close='closeModal' class="sign-in-modal"}}
    <div class="modal-content center-align">
        <div class="row">
          <div class="col s12">
            <button class="btn sign-in-button" type="button" name="button" {{action "goDashboard"}}>Admin dashboard</button>
          </div>
          <div class="col s12">
            <button class="btn sign-in-button" type="button" name="button" {{action "goReset"}}>Reset password</button>
          </div>
          <div class="col s12">
            <button class="btn sign-in-button index-button" type="button" name="button" {{action "goIndex"}}>Home</button>
          </div>
          <div class="col s12">
            <a class="btn-flat red-text sign-out" type="button" name="button" {{action "signOut"}}>Sign out</a>
          </div>
        </div>
    </div>
{{/md-modal}}
{{/if}}


<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
