<section class="news-section">
  <div id="news-section" class="product-section-container">
    <span class="section-heading">Our Network</span>
    {{#if toggleLang.showViet}}
    <h4 class="section-heading">{{newsSection.titleVn}}</h4>
    {{else}}
    <h4 class="section-heading">{{newsSection.title}}</h4>
    {{/if}}
    <span>♡</span>
    {{!-- <p>{{newsSection.description}}</p> --}}
  </div>


  <div class="row center-align">
    {{#each newsPosts as |post|}}
    <div class="col s12 m4">
        <div class="news-card">
          <span class="news-date-badge badge">{{post.newsDate}}</span>
          {{lazy-image url=post.imageUrl class="card product-image hoverable valign-wrapper"}}
        </div>
        <div class="center-align">
          {{#if toggleLang.showViet}}
          <h5>{{post.titleVn}}</h5>
          <p class="truncate">{{post.descriptionVn}}</p>
          {{else}}
          <h5>{{post.title}}</h5>
          <p class="truncate">{{post.description}}</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>

{{!--
    <div class="row">
    {{#each newsPosts as |post|}}
      <div class="col s12 m4">
        <div class=" hoverable">
          <img class="image-thumb" src="https://image.shutterstock.com/z/stock-vector-breaking-news-world-news-with-map-backgorund-breaking-news-modern-concept-tv-news-design-640991758.jpg" alt="">
        </div>
        <h5>{{post.title}}</h5>
        <p class="truncate">{{post.description}}</p>
      </div>
    {{/each}}
    </div> --}}

</section>
