<span id="news-section"></span>
<section class="news-section">
  <div class="product-section-container">
    <span class="section-heading">Our Network</span>
    {{#if toggleLang.showViet}}
    <h4 class="section-heading">{{newsSection.titleVn}}</h4>
    {{else}}
    <h4 class="section-heading">{{newsSection.title}}</h4>
    {{/if}}
    <span>♡</span>
    {{!-- <p>{{newsSection.description}}</p> --}}
  </div>


  <div class="row center-align">
    {{#each newsPosts as |post|}}
    <div class="col s12 m4">
        <div class="news-card hoverable" {{action "showModal" post}}>
          {{#if post.newsDate}}
          <div class="card-panel news-date-badge badge">{{post.newsDate}}</div>
          {{/if}}
          <img src="{{post.imageUrl}}" class="news-image">
          {{!-- {{lazy-image url=post.imageUrl class="news-image"}} --}}
        </div>
        <div class="center-align">
          {{#if toggleLang.showViet}}
          <h5>{{post.titleVn}}</h5>
          <p class="news-description">{{post.descriptionVn}}</p>
          {{else}}
          <h5>{{post.title}}</h5>
          <div class="news-description">{{post.description}}</div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>


{{! modal to display product details}}
  {{#if modalIsOpen}}
  {{#md-modal close='closeModal' class="new-modal"}}
      <div class="modal-content center-align">
        {{#if toggleLang.showViet}}
        <h4 class="section-heading">{{newsObject.titleVn}}</h4>
        <p>{{newsObject.descriptionVn}}</p>
        {{else}}
        <h4 class="section-heading">{{newsObject.title}}</h4>
        <p>{{newsObject.description}}</p>
        {{/if}}
      </div>
  {{/md-modal}}
  {{/if}}
</section>
