{{!-- <div id="dish-banner">
  <img src="https://i.imgur.com/pnIcY0O.png" alt="">
</div> --}}
{{navigation-bar signOut="signOut"}}
{{banner-image bannerType="dish" model=model}}
<section class="chef-dishes container center-align">
  <h4 class="section-heading">
    {{model.catType}}
  </h4>
  <p class="flow-text">{{model.description}}</p>

  <div class="row">
    {{#each model.dishes as |d|}}
    <div class="col s12 m4">
      <img class="image-thumb" src="{{d.imageUrl}}" alt="">

      <div class="card-panel center-align flow-text">{{d.title}}</div>
    </div>
    {{/each}}
  </div>
</section>
