{{!-- <div id="dish-banner">
  <img src="https://i.imgur.com/pnIcY0O.png" alt="">
</div> --}}
{{!-- {{navigation-bar}} --}}
{{banner-image bannerType="dish" model=model}}
<section class="chef-dishes container center-align">
  <h4 class="section-heading white-text">
    {{model.catType}}
  </h4>
  <p class="flow-text white-text">{{model.description}}</p>

  <div class="row dishes">
    {{#each model.dishes as |d|}}
    <div class="col s12 m6">
      {{#md-card title=d.title
          image=d.imageUrl
          activator=true }}
          {{#md-card-content}}
            {{d.details}}
          {{/md-card-content}}
          {{#md-card-reveal}}
            <p>{{d.details}}</p>
            <div class="video-container">
               <iframe width="560" height="315" src="{{d.youtubeLink}}" frameborder="0" allowfullscreen></iframe>
             </div>
          {{/md-card-reveal}}
      {{/md-card}}
    </div>
    {{/each}}
  </div>
</section>
