<nav>
  <div class="nav-wrapper" id="navbar">
    <a  {{action "linkToIndex"}} href="" id="logo">
      <!--Revise brando logo file to not have too much footprint-->
      {{!-- <img src="https://scontent.fbed1-2.fna.fbcdn.net/v/t34.0-12/22447543_1488985051400037_1842875517_n.png?oh=57ebaf6b24eec7a09a9043543ab8837b&oe=59E2F325" alt=""> --}}
    </a>
    {{!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> --}}
    <ul class="navbar-links right hide-on-small-only">
      {{!-- <a {{action "toggleLang"}}>Lang</a> --}}
      <li><a {{action "scrollTo" '#about-section'}}>About Us</a></li>
      <li><a {{action "scrollTo" '#product-section'}}>Products</a></li>
      <li><a {{action "scrollTo" '#chef-section'}}>Chef Tips</a></li>
      <li><a {{action "scrollTo" '#news-section'}}>News</a></li>
      <li><a {{action "scrollTo" '#contact-section'}}>Contact Us</a></li>
      {{!-- <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
      <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li> --}}
    </ul>
    {{!-- <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul> --}}
  </div>
</nav>
