<section class='banner-image'>
  <img src="https://scontent.fbed1-2.fna.fbcdn.net/v/t35.0-12/22375306_1488070591491483_1040026275_o.png?oh=8257e85c0928f853100405d848ea9334&oe=59DD7817" alt="">
</section>

{{home-page/about-section
  aboutSection=aboutSection
  history=history
  whyU=whyU
  awards=awards
}}

{{home-page/product-section
  productSection=productSection
  categories=categories
  products=products
}}

{{home-page/chef-section
  chefSection=chefSection
  categories=categories
  dishes=dishes
}}

{{home-page/news-section
  newsSection=newsSection
  newsPosts=newsPosts
}}

  {{home-page/contact-page
    contact=contact }}
