<p class="flow-text">New Recipe Category</p>
{{md-input value=newObject.catType label="Category Name" class="col s12"}}
{{md-input value=newObject.catTypeVn label="Category VN" class="col s12"}}
{{md-textarea label="Description"
  value=newObject.description class="col s12"}}
{{md-textarea label="Details VN"
  value=newObject.descriptionVn class="col s12"}}
{{md-input value=newObject.imageUrl label="Image Url" class="col s12"}}
