<p class="flow-text">New Award</p>
{{md-input value=newObject.title label="Award Title" class="col s12"}}
{{md-input value=newObject.titleVn label="Award VN" class="col s12"}}
{{md-textarea label="Details"
  value=newObject.description class="col s12"}}
{{md-textarea label="Details VN"
  value=newObject.descriptionVn class="col s12"}}
  {{md-textarea label="imageUrl"
    value=newObject.imageUrl class="col s12"}}
