<section class="our-products">
  <h3>{{productSection.title}}</h3>
  <p>{{productSection.description}}</p>

  <img src="" alt="">
  {{#each productCat as |cat|}}
    <li><a class="btn" {{action "showProducts" cat}}>{{cat.catType}}</a></li>
  {{/each}}

  <div class="selected-products-container">
    {{#each selectedProducts as |product|}}
      <li>{{product.title}}</li>
    {{/each}}
  </div>
</section>
