<section id="product-section" class="our-products">
  <div class="product-section-container container">
    {{#if toggleLang.showViet}}
    <h4 class="section-heading">{{productSection.titleVn}}</h4>
    <span>♡</span>
    <p class="flow-text">{{productSection.descriptionVn}}</p>
    {{else}}
    <h4 class="section-heading">{{productSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{productSection.description}}</p>
    {{/if}}
  </div>

  <div class="product-section link-button">
    <ul>
      <li><a class="btn" {{action "showSelectedContent"}}>All</a></li>
      {{#each productCategories as |cat|}}
        <li><a class="btn" {{action "showSelectedContent" cat}}>{{cat.catType}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="product-image-row row">
    {{#each selectedContent as |pro|}}
    <div class="col s6 m4 product-column" {{action "showModal" pro}}>
      <div class="product-card hoverable">
        {{lazy-image url=pro.imageUrl class="product-image"}}
      </div>
      <div class="hover-info">
        <p class="center-align flow-text">{{pro.title}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  {{#if modalIsOpen}}
  {{#md-modal close='closeModal' class="test-modal"}}
      <div class="modal-content center-align">
          <div class="row">
            <div class="col s12 m6">
              <div class="row">
                <div class="s12">
                  <img class="image-thumb" src="{{displayedObject.imageUrl}}" alt="">
                </div>
                <div class="col s12">
                  <div class="card-panel center-align flow-text">{{displayedObject.title}}</div>
                  <p>Volume: {{displayedObject.volume}} mL</p>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="product-details">
                {{#if toggleLang.showViet}}
                {{displayedObject.detailsVn}}
                {{else}}
                {{displayedObject.details}}
                {{/if}}
              </div>
            </div>
          </div>
      </div>
  {{/md-modal}}
  {{/if}}
  <!-- Adds flex box here to dynamically populate the the box with products without breaking layout-->

</section>
