{{#if (eq bannerType "main")}}
<div id="banner-image">
  <img src="https://i.imgur.com/pnIcY0O.png" alt="">
  {{!-- <div class="banner-container">
    <button class="btn main-scroll" type="button" name="button" {{action "scrollTo" "#contact-section"}}>V</button>
  </div> --}}
  {{!-- {{#if (eq toggleViet.showViet)}}
  <button class="btn" type="button" name="button" {{action "toggleViet"}}>EN</button>
  {{/if}} --}}
  {{#if showViet}}
  <button class="btn" type="button" name="button" {{action "toggleViet"}}>EN</button>
  {{/if}}
  {{#if (not showViet)}}
  <button class="btn" type="button" name="button" {{action "toggleViet"}}>VN</button>
  {{/if}}
</div>
{{/if}}

{{#if (eq bannerType "dish")}}
<div id="banner-image-dish">
  <img src="{{model.imageUrl}}" alt="">
</div>
{{/if}}
