
<div class="row">
  <!--Award Section Card-->
  <div class="col s12 m4">
    <div class="card-panel small">
      <span class="flow-text">About Section</span>
      <button type="submit" class="btn btn-primary" {{action "update"}}>
        Save
      </button>
      <p>Section title:{{input value=aboutSection.title}}</p>
      <p>Section body: {{textarea value=aboutSection.description row="10"}}</p>
      <!-- Card actions -->
      {{!-- <div class="card-action">
        <a href="#">This is a link</a>
      </div> --}}
    </div>
  </div>

  <!--History-->
  <div class="col s12 m4">
    <div class="card-panel small">
      <span class="flow-text">History</span>
      <button type="submit" class="btn btn-primary" {{action "updateHis"}}>
        Save
      </button>
      <p>Header:{{input value=history.title}}</p>
      <p>Body: {{textarea value=history.description}}</p>
    </div>
  </div>

  <!--Why Us-->
  <div class="col s12 m4">
    <div class="card-panel small">
      <span class="flow-text">Why Us</span>
      <button type="submit" class="btn btn-primary" {{action "updateHis"}}>
        Save
      </button>
      <p>Header: {{input value=whyU.title}}</p>
      <p>Body: {{textarea value=whyU.description}}</p>
    </div>
  </div>
</div>

<!--Award heading row-->
<div class="row">
  <div class="container center-align">
    <span class="flow-text">Awards</span>
    <button type="submit" class="btn btn-primary" {{action "showForm"}}>
      +
    </button>
    <button type="button" name="btn btn-primary" {{action "updateAwards"}}>Save awards</button>
  </div>
</div>

<!--New award form -->
<div class="row">
  {{#if isformShown}}
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <div class="container">
        <p class="flow-text">New Award</p>
        <p>Title: {{input value=newAward.title}}</p>
        <p>Body: {{textarea value=newAward.description row="6"}}</p>
        <button type="button" name="btn btn-flat" {{action "create" newAward}}>Save</button>
        <button type="button" name="btn btn-flat" {{action "cancel"}}>Cancel</button>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<!--All awards container-->
<div class="row">
  {{#unless isformShown}}
  {{#each awards as |award|}}
  <div class="col s12 m3 l2">
    <div class="card-panel small">
      <a href="#" class="right-align" {{action "deleteAward" award}}>X</a>
      <p>Title: {{input value=award.title}}</p>
      <p>Body: {{textarea value=award.description}}</p>
    </div>
  </div>
  {{/each}}
  {{/unless}}
</div>
