<div class="row">
  <div class="col s12">
    <div class="card-panel large">
      <p class="flow-text">Product Section</p>
          {{md-input value=model.title label='Section heading' class="col s12 m6"}}
          {{md-input value=model.titleVn label='Vietnamese section heading' class="col s12 m6"}}
          <div class="row">
            {{md-textarea label='Description'
              value=model.description class="col s12"}}
              {{md-textarea label='Vietnamese description'
                value=model.descriptionVn class="col s12"}}
          </div>
          <button {{action "saveProSection" model}} type="button" name="button">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="link-button center-align">
        <li>{{#link-to 'admin-route.product-sections.categories' class="btn"}}Categories{{/link-to}}</li>
        <li>{{#link-to 'admin-route.product-sections.products' class="btn"}}Products{{/link-to}}</li>
      </ul>
    </div>
  </div>

{{outlet}}



</div>
