<div class="row image-row">

  <div class="col s12 m4">
    <div class="about-card">
      <img class="about-image" src="{{aboutSection.imageUrl}}" alt="">
      {{!-- {{lazy-image url=aboutSection.imageUrl class="about-image"}} --}}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="about-card">
      <img class="about-image" src="{{aboutSection.imageUrl2}}" alt="">
      {{!-- {{lazy-image url=aboutSection.imageUrl2 class="about-image"}} --}}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="about-card">
      <img class="about-image" src="{{aboutSection.imageUrl3}}" alt="">
      {{!-- {{lazy-image url=aboutSection.imageUrl3 class="about-image"}} --}}
    </div>
  </div>
</div>
