<p class="flow-text">{{cardFormName}}</p>
{{md-input value=title label=newCardTitle class="col s12 m6"}}
{{md-input value=titleVn label=newCardTitleVn class="col s12 m6"}}
<div class="row">
  {{md-textarea label=newDescription
    value=description class="col s12"}}
  {{md-textarea label=newDescriptionVn
    value=descriptionVn class="col s12"}}
</div>
