
  <p class="flow-text">{{cardFormName}}</p>
  {{md-input value=newObject.title label="News Title" class="col s12"}}
  {{md-input value=newObject.titleVn label="Title Vn" class="col s12"}}
    {{md-textarea label="Body"
      value=newObject.description class="col s12"}}
    {{md-textarea label="Body Vn"
      value=newObject.descriptionVn class="col s12"}}
