{{md-input value=valueTitle label=title class="col s12 m6"}}
{{md-input value=valueTitleVn label=titleVn class="col s12 m6"}}
<div class="row">
  {{md-textarea label=description
    value=valueDescription class="col s12"}}
  {{md-textarea label=descriptionVn
      value=valueDescriptionVn class="col s12"}}
</div>
<div class="row">
  {{md-input value=valueImageUrl label='Image URL' class="col s12"}}
</div>
