<p class="flow-text">New Receipe</p>
<div class="row ">
  {{md-input value=newObject.title label="Dish name" class="col s12 m6"}}
  {{md-input value=newObject.titleVn label="Dish name VN" class="col s12 m6"}}
</div>
<div class="row">
  {{md-input value=newObject.youtubeLink label="Video Link" class="col s6"}}
  {{!-- {{md-input value=newObject.productCategoryId label="Category ID" class="col s6"}} --}}
</div>

{{#power-select
  selected=category
  options=categories
  searchField="catType"
  onchange=(action "chooseCategory")
  as |category| }}
  {{category.catType}}
{{/power-select}}

<div class="row">
  {{md-textarea label="Details"
    value=newObject.details class="col s12"}}
  {{md-textarea label="Details VN"
    value=newObject.detailsVn class="col s12"}}
</div>
<div class="row">
  {{md-input value=newObject.imageUrl label="Image Url" class="col s12"}}
</div>
