<section class="about-us">

  <div class="about-container container">
    <span>Welcome to</span>
    {{#if language.viet}}
    <h4 class="section-heading">{{aboutSection.titleVn}}</h4>
    <span>♡</span>
    <p class="flow-text">{{aboutSection.descriptionVn}}</p>
    {{else}}
    <h4 class="section-heading">{{aboutSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{aboutSection.description}}</p>
    {{/if}}
  </div>

  <div class="about-us sub-links">
    <ul class="link-button center-align">
      <li><a class="sub-nav-links" {{action "showSelectedContent" history}}>{{history.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showSelectedContent" whyU}}>{{whyU.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showAwards" awards}}>Awards</a></li>
    </ul>
  </div>

<!--carousel images-->
  {{!-- <div class="carousel">
    <a class="carousel-item" href="#one!">
      <img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
    </a>
    <a class="carousel-item" href="#two!">
      <img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
    </a>
    <a class="carousel-item" href="#three!">
      <img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
    </a>
    <a class="carousel-item" href="#four!">
      <img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
    </a>
    <a class="carousel-item" href="#five!">
      <img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
    </a>
  </div> --}}
  <div class="row image-row">
    <div class="col s12 m4">
      <div class="card">
        <a href="#">
          <img class="responsive-image" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
        </a>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <a href="#"><img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <a href="#"><img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
      </div>
    </div>
  </div>


  <div class="sub-link content-container">
    {{#if awardShowing}}
      {{#each awards as |s|}}
      <p>{{s.title}}</p>
      <p>{{s.description}}</p>
      {{/each}}
    {{else}}
    <p>{{selectedContent.description}}</p>
    {{/if}}
  </div>

</section>
