<section class="about-us">

  <div class="about-container container">
    <span>Welcome to</span>
    <h4 class="section-heading">{{aboutSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{aboutSection.description}}</p>
  </div>

  <div class="about-us sub-links">
    <ul>
      <li><a href="" class="btn btn-default" {{action "showSelectedContent" aboutSection.history}}>{{aboutSection.history.title}}</a></li>
      <li><a href="" class="btn btn-default" {{action "showSelectedContent" aboutSection.whyU}}>{{aboutSection.whyU.title}}</a></li>
      <li><a href="" class="btn btn-default" {{action "showAwards"}}>Awards</a></li>
      {{!-- <li><a class="btn" {{action "toggleSubLinks" 'isHistory' 'isWhyUs''isAwards' }}>History</a></li>
      <li><a class="btn" {{action "toggleSubLinks" 'isWhyUs' 'isHistory' 'isAwards' }}>About Us</a></li>
      <li><a class="btn" {{action "toggleSubLinks" 'isAwards' 'isWhyUs' 'isHistory'}}>Awards</a></li> --}}
    </ul>
  </div>

  <div class="row image-row">
    <div class="col s12 m4">
      <div class="card">
        <a href="#">
          <img class="responsive-image" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
        </a>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <a href="#"><img class="" src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <a href="#"><img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
      </div>
    </div>
  </div>

  <div class="sub-link content-container">
    {{#if awardShowing}}
      {{#each awards as |s|}}
      <p>{{s.title}}</p>
      <p>{{s.description}}</p>
      {{/each}}
    {{else}}
    <p>{{selectedContent.content.data.description}}</p>
    {{/if}}
  </div>

</section>
