<section class="about-us">
  <div class="about-container">
    <span>Welcome to</span>
    <h4 class="section-heading">{{aboutSection.title}}</h4>
    <span>♡</span>
    <p>{{aboutSection.description}}</p>
  </div>

  <div class="about-us sub-links">
    <ul>
      <li><a class="btn" {{action "toggleSubLinks" 'isHistory' 'isWhyUs''isAwards' }}>History</a></li>
      <li><a class="btn" {{action "toggleSubLinks" 'isWhyUs' 'isHistory' 'isAwards' }}>About Us</a></li>
      <li><a class="btn" {{action "toggleSubLinks" 'isAwards' 'isWhyUs' 'isHistory'}}>Awards</a></li>
    </ul>
  </div>

  <div class="image-row row">
    <div class="col s4">
      <a href="#"><img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
    </div>
    <div class="col s4">
      <a href="#"><img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
    </div>
    <div class="col s4">
      <a href="#"><img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt=""></a>
    </div>
  </div>

  <div class="sub-link content-container">
    {{#if isHistory}}
    <div class="history sub-link">
      {{!-- <h5>{{history.title}}</h5> --}}
      <img src="" alt="">
      <p>{{history.description}}</p>
    </div>
    {{/if}}

    {{#if isWhyUs}}
    <div class="why-us sub-link">
      {{!-- <h5>{{whyU.title}}</h5> --}}
      <img src="" alt="">
      <p>{{whyU.description}}</p>
    </div>
    {{/if}}

    {{#if isAwards}}
    <div class="awards sub-link">
      {{!-- <h5>Awards</h5> --}}
      <img src="" alt="">
      <ul>
        {{#each awards as |award|}}
        <li>Title: {{award.title}}</li>
        <img src="" alt="">
        <p>{{award.description}}</p>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>

</section>
