<section class="about-us">
  <div class="about-container container">
    <span class="section-heading" id="about-section">Welcome to</span>
    {{#if toggleLang.showViet}}
    <h4 class="section-heading">{{aboutSection.titleVn}}</h4>
    <span>♡</span>
    <p class="white-space paragraph-font flow-text">{{aboutSection.descriptionVn}}</p>
    {{else}}
    <h4 class="section-heading">{{aboutSection.title}}</h4>
    <span>♡</span>
    <p class="white-space paragraph-font flow-text">{{aboutSection.description}}</p>
    {{/if}}
  </div>

  <div class="about-us">
    <ul class="link-button center-align">
      {{#if toggleLang.showViet}}
      <li><a class="sub-nav-links" {{action "showSelectedContent" history}}>{{history.titleVn}}</a></li>
      <li><a class="sub-nav-links" {{action "showSelectedContent" whyU}}>{{whyU.titleVn}}</a></li>
      <li><a class="sub-nav-links" {{action "showAwards"}}>Awards</a></li>
      {{else}}
      <li><a class="sub-nav-links" {{action "showSelectedContent" history}}>{{history.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showSelectedContent" whyU}}>{{whyU.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showAwards"}}>Awards</a></li>
      {{/if}}
    </ul>
  </div>

  {{home-page/image-row aboutSection=aboutSection}}

  <div class="">
    {{#if awardShowing}}
    {{#md-modal id="award-modal" close='closeModal' class="award-modal"}}
      <div class="modal-content center-align">
        <h4 class="flow-text">Our Awards</h4>
        <div class="row">
          {{#each awards as |s|}}
          <div class="col s12 m6">
            {{#md-card title=s.title
                image=s.imageUrl
                activator=true}}
                {{#md-card-content}}
                  {{#if toggleLang.showViet}}
                  <p class="truncate">{{s.descriptionVn}}</p>
                  {{else}}
                  <p class="truncate">{{s.description}}</p>
                  {{/if}}
                {{/md-card-content}}

                {{#md-card-reveal}}
                  {{#if toggleLang.showViet}}
                    {{s.descriptionVn}}
                  {{else}}
                    {{s.description}}
                  {{/if}}
                {{/md-card-reveal}}

            {{/md-card}}
          </div>
          {{/each}}
        </div>
      </div>
    {{/md-modal}}
    {{else}}
      {{#if toggleLang.showViet}}
      <p class="white-space">{{selectedContent.descriptionVn}}</p>
      {{else}}
      <p class="white-space">{{selectedContent.description}}</p>
      {{/if}}
    {{/if}}
  </div>

</section>
