<section class="about-us">
  <div class="about-container container">
    <span id="about-section">Welcome to</span>
    {{#if showViet}}
    <h4 class="section-heading">{{aboutSection.titleVn}}</h4>
    <span>♡</span>
    <p class="flow-text">{{aboutSection.descriptionVn}}</p>
    {{else}}
    <h4 class="section-heading">{{aboutSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{aboutSection.description}}</p>
    {{/if}}
  </div>

  <div class="about-us">
    <ul class="link-button center-align">
      {{#if showViet}}
      <li><a class="sub-nav-links" {{action "showSelectedContent" history}}>{{history.titleVn}}</a></li>
      <li><a class="sub-nav-links" {{action "showSelectedContent" whyU}}>{{whyU.titleVn}}</a></li>
      <li><a class="sub-nav-links" {{action "showAwards" awards}}>Awards</a></li>
      {{else}}
      <li><a class="sub-nav-links" {{action "showSelectedContent" history}}>{{history.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showSelectedContent" whyU}}>{{whyU.title}}</a></li>
      <li><a class="sub-nav-links" {{action "showAwards" awards}}>Awards</a></li>
      {{/if}}
    </ul>
  </div>

  <div class="row image-row">
    <div class="col s12 m4">
      <div class="card chef-image-wrapper valign-wrapper">
        <img src="{{aboutSection.imageUrl}}" alt="">
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card chef-image-wrapper valign-wrapper">
        <img src="{{aboutSection.imageUrl2}}" alt="">
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card chef-image-wrapperaboutSection valign-wrapper">
        <img src="{{aboutSection.imageUrl3}}" alt="">
      </div>
    </div>
  </div>


  <div class="">
    {{#if awardShowing}}
    {{#md-modal close='closeModal' class="test-modal"}}
      <div class="modal-content center-align">
        <h4 class="flow-text">Our Awards</h4>
        <div class="row">
          {{#each awards as |s|}}
          <div class="col s12 m6">
            {{#md-card title=s.title
                image=s.imageUrl
                activator=true}}
                {{#md-card-content}}
                  {{#if showViet}}
                  <p class="truncate">{{s.descriptionVn}}</p>
                  {{else}}
                  <p class="truncate">{{s.description}}</p>
                  {{/if}}
                {{/md-card-content}}

                {{#md-card-reveal}}
                  {{#if showViet}}
                    {{s.descriptionVn}}
                  {{else}}
                    {{s.description}}
                  {{/if}}
                {{/md-card-reveal}}

            {{/md-card}}
          </div>
          {{/each}}
        </div>
      </div>
    {{/md-modal}}
    {{else}}
      {{#if}}
      <p>{{selectedContent.descriptionVn}}</p>
      {{else}}
      <p>{{selectedContent.descriptionVn}}</p>
      {{/if}}
    {{/if}}
  </div>

</section>
