<section id="chef-section" class="chef-section">
  <div class="chef-container container">
    {{#if toggleLang.showViet}}
    <h4 class="section-heading">{{chefSection.titleVn}}</h4>
    <span>♡</span>
    <p class="white-space paragraph-font flow-text">{{chefSection.descriptionVn}}</p>
    {{else}}
    <h4 class="section-heading">{{chefSection.title}}</h4>
    <span>♡</span>
    <p class="white-space paragraph-font flow-text">{{chefSection.description}}</p>
    {{/if}}
  </div>

  <div class="image-row row">
    {{#each chefCategories as |cat|}}
    {{#link-to 'chef-dishes' cat}}
    <div class="col s12 m4 product-column">
      <div class="product-card hoverable">
        <img class="product-image" src="{{cat.imageUrl}}">
      </div>
      <div class="hover-info">
        <p class="center-align chef-category-name flow-text">{{cat.catType}}</p>
      </div>
    </div>
    {{/link-to}}
    {{/each}}
  </div>

</section>
