<section class="chef-section">
  <div class="chef-container container">
    <h4 class="section-heading">{{chefSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{chefSection.description}}</p>
  </div>


  <div class="image-row row">
    {{#each chefCategories as |cat|}}
    {{#link-to 'chef-dishes' cat}}
    {{!-- <a {{action "showSelectedContent" cat}}> --}}
      <div class="col s12 m4">
        <div class="card hoverable chef-image-wrapper valign-wrapper">
          <img src="https://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" alt="">
          <p>{{cat.catType}}</p>
        </div>
      </div>
    {{!-- </a> --}}
    {{/link-to}}
    {{/each}}
  </div>

  <div class="row">
    {{#each selectedContent as |p|}}
    <div class="col s12 m3">
      <div class="card-panel small hoverable">
        <p>Title: {{p.title}}</p>
        <p>{{p.description}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="selected-dishes-container">
    {{#each selectedDishes as |dish|}}
      <li>{{dish.title}}</li>
    {{/each}}
  </div>
</section>
