<section class="chef-section">
  <div class="chef-container container">
    {{#if toggleLang.showViet}}
    <h4 id="chef-section" class="section-heading">{{chefSection.titleVn}}</h4>
    <span>♡</span>
    <p class="flow-text">{{chefSection.descriptionVn}}</p>
    {{else}}
    <h4 id="chef-section" class="section-heading">{{chefSection.title}}</h4>
    <span>♡</span>
    <p class="flow-text">{{chefSection.description}}</p>
    {{/if}}
  </div>


  <div class="image-row row">
    {{#each chefCategories as |cat|}}
    {{#link-to 'chef-dishes' cat}}
    <div class="col s12 m4 product-column">
      <div class="product-card hoverable">
        {{lazy-image url=cat.imageUrl class="product-image"}}
      </div>
      <div class="hover-info">
        <p class="center-align chef-category-name flow-text">{{cat.catType}}</p>
      </div>
    </div>
    {{/link-to}}
    {{/each}}
  </div>

  {{!-- <div class="row">
    {{#each selectedContent as |p|}}
    <div class="col s12 m3">
      <div class="card-panel small hoverable">
        <p>Title: {{p.title}}</p>
        <p>{{p.description}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="selected-dishes-container">
    {{#each selectedDishes as |dish|}}
      <li>{{dish.title}}</li>
    {{/each}}
  </div> --}}
</section>
