<div class="container center-align">
  <h3 class="flow-text">{{cardTitle}}</h3>
  {{#if isFormShown}}
  <button class="btn btn-primary disabled" type="button" name="button" {{action "new"}}>{{newButton}}</button>
  <button class="btn btn-primary red" type="button" name="button" {{action "closeForm"}}>X</button>
  {{else}}
  <button class="btn btn-primary" type="button" name="button" {{action "new"}}>{{newButton}}</button>
  {{/if}}
</div>

<!--Form to add new stuff-->
{{#if isFormShown}}
<div class="new-form container">

<!--Product category form-->
  {{#if (eq whichForm "catForm")}}
    {{input-form/new-product-category newObject=newObject}}
      <div class="row">
        <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
      </div>
    {{/if}}

<!--Chef-category form-->
  {{#if (eq whichForm "chefCatForm")}}
    {{input-form/new-chef-category newObject=newObject}}
      <div class="row">
        <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
      </div>
    {{/if}}

<!--About section Award form-->
    {{#if (eq whichForm "awardForm")}}
        {{input-form/new-award newObject=newObject}}
          <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
    {{/if}}
<!-- /.About section award form-->

<!--Product form-->
    {{#if (eq whichForm "productForm")}}
      {{input-form/new-product
        newObject=newObject
        categories=categories}}

        <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
    {{/if}}
<!--/.product category form-->

<!--Dish form-->
    {{#if (eq whichForm "dishForm")}}
      {{input-form/new-dish
        newObject=newObject
        categories=categories}}
        <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
    {{/if}}
<!--/.dish form-->

<!--new post form-->
    {{#if (eq whichForm "postForm")}}
      {{input-form/new-post
        cardFormName="Add a new post"
        newObject=newObject
        model=model}}

        <button class="btn btn-primary" type="button" name="button" {{action "save"}}>Save</button>
    {{/if}}
<!--/.new post form-->
    </div> <!--new-form container-->
{{/if}}


<!--chef-category card-->
{{#if (eq whichForm "chefCatForm")}}
<div class="row">
  {{#each model as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">
      <div class="row">
        {{md-input value=model.catType label="Category name" class="col s12 m6"}}
        {{md-input value=model.cateTypeVn label="Category Vn" class="col s12 m6"}}
        {{md-textarea value=model.description label="Description" class="col s12"}}
        {{md-textarea value=model.descriptionVn label="Description Vn" class="col s12"}}
      </div>
      <div class="row">
        {{md-input value=model.imageUrl label="Image Url" class="col s12"}}
      </div>
      <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button>
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
      {{!-- {{#link-to 'admin-route.product-sections.category' model class="btn"}}New Product{{/link-to}} --}}
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.Chef category cards-->

<!--Category cards-->
{{#if (eq whichForm "catForm")}}
<div class="row">
  {{#each model as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">
      <div class="row">
        {{md-input value=model.catType label="Category name" class="col s12 m6"}}
        {{md-input value=model.cateTypeVn label="Category Vn" class="col s12 m6"}}
        {{md-textarea value=model.description label="Description" class="col s12"}}
        {{md-textarea value=model.descriptionVn label="Description Vn" class="col s12"}}
      </div>

      <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button>
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
      {{!-- {{#link-to 'admin-route.product-sections.category' model class="btn"}}New Product{{/link-to}} --}}
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.category cards-->

<!--Award cards-->
{{#if (eq whichForm "awardForm")}}
<div class="row">
  {{#each model as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">

      {{input-form/inputs-section
        valueTitle=model.title
        valueTitleVn=model.titleVn
        valueDescription=model.description
        valueDescriptionVn=model.descriptionVn
        valueImageUrl=model.imageUrl

        cardTitle="Awards"
        title="Award name"
        titleVn="Award name VN"
        description="Description"
        descriptionVn="Description VN"}}

      <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button>
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.award cards-->


<!--Product cards-->
{{#if (eq whichForm "productForm")}}
<div class="row">
  {{#each products as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">
      <div class="row">
        {{md-input value=model.title label="Product name" class="col s12 m6"}}
        {{md-input value=model.titleVn label="Product name VN" class="col s12 m6"}}
        {{md-input value=model.volume label="Volume" class="col s6"}}
        {{md-input value=model.metric label="Volume VN" class="col s6"}}
        <p>Category: {{model.productCategory.catType}}</p>
      </div>
      <div class="row">
        {{md-input value=model.imageUrl label="Image Url" class="col s12"}}
      </div>
      <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button>
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.product cards-->


<!--Chef cards-->
{{#if (eq whichForm "dishForm")}}
<div class="row">
  {{#each dishes as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">
      <div class="row">
        {{md-input value=model.title label="Dish name" class="col s12 m6"}}
        {{md-input value=model.titleVn label="Dish VN" class="col s12 m6"}}
      </div>
      <div class="row">
        {{md-input value=model.details label="Details" class="col s12"}}
        {{md-input value=model.detailsVn label="Details VN" class="col s12"}}
      </div>
      <div class="">
        {{md-input value=model.youtubeLink label="Video" class="col s12"}}
        {{md-input value=model.imageUrl label="Image Url" class="col s12"}}
        <p>Category: {{model.chefCategory.catType}}</p>
      </div>
      <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button>
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.chef cards-->

<!--Post cards-->
{{#if (eq whichForm "postForm")}}
<div class="row">
  {{#each model as |model|}}
  <div class="col s12 m4">
    <div class="card-panel small">
      <div class="row">
        {{md-input value=model.title label="News title" class="col s12 m6"}}
        {{md-input value=model.titleVn label="News VN" class="col s12 m6"}}
      </div>
      <div class="row">
        {{md-input value=model.description label="Body" class="col s12"}}
        {{md-input value=model.descriptionVn label="Body VN" class="col s12"}}
      </div>

      {{!-- <button {{action "update" model}} type="button" name="button" class="btn teal">Save</button> --}}
      <button {{action "delete" model}} type="button" name="button" class="btn red">X</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
<!--/.news post cards-->
