<div class="row">
  <div class="col s12">
    <div class="card-panel large">
      <p class="flow-text">About Section</p>
      {{!-- {{#each model as |m|}} --}}
        {{!-- {{input-fields/section-inputs
          model=m
          save="saveAbout"}} --}}
          {{md-input value=model.title label='Section heading' class="col s12 m6"}}
          {{md-input value=model.titleVn label='Vietnamese section heading' class="col s12 m6"}}
          <div class="row">
            {{md-textarea label='Description'
              value=model.description class="col s12"}}
              {{md-textarea label='Vietnamese description'
                value=model.descriptionVn class="col s12"}}
          </div>
          <button {{action "saveAbout" model}} type="button" name="button">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <ul>
          <li>{{#link-to 'admin-route.about-sections.history' class="btn"}}History{{/link-to}}</li>
          <li>{{#link-to 'admin-route.about-sections.why-us' class="btn"}}Why Us{{/link-to}}</li>
          <li>{{#link-to 'admin-route.about-sections.awards' class="btn"}}Awards{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>

<div class="row">
  <div class="container">
    {{outlet}}
  </div>
</div>


</div>
