

<footer id="contact-section">
  {{!-- <div class="scroll-to-top wrapper">
    <img src="http://i63.tinypic.com/28iuel4.png" alt="">
  </div> --}}
  <div class="row">
    <div class="col s12 scroll-to-top wrapper center-align">
      <button class="btn scroll-to-top" type="button" name="button" {{action "scrollTo" "#navbar"}}>^</button>
    </div>
  </div>
  <section class="contact-section white-text">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <h5>{{contact.title}}</h5>
        <p>{{contact.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col m2">
        <h6>About Us</h6>
        <ul>
          <li {{action "scrollTo" "#about-section"}}>{{history.title}}</li>
          <li {{action "scrollTo" "#about-section"}}>{{whyU.title}}</li>
          <li {{action "scrollTo" "#about-section"}}>Awards</li>
        </ul>
      </div>
      <div class="col m2">
        <h6>Products</h6>
        <ul>
          {{#each productCategories as |p|}}
          <li {{action "scrollTo" "#product-section"}}>{{p.catType}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col m2">
        <h6>Recipes</h6>
        <ul>
          {{#each chefCategories as |d|}}
          <p>{{#link-to 'chef-dishes' d class="chef-footer-link"}}{{d.catType}}{{/link-to}}</p>
          {{/each}}
        </ul>
      </div>
      <div class="col m2">
        <h6>Latest News</h6>
        <ul>
          {{#each newsPosts as |news|}}
          <li>{{news.title}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col m4">
        <h6>Contact Us</h6>
        <li><span>{{contact.companyName}}</span></li>
        <li>Hotline: {{contact.hotline}}</li>
        <li>Tel: {{contact.tel}}</li>
        <li>Fax: {{contact.fax}}</li>
      </div>
    </div>
  </section>
</footer>
