<footer class="contact-section">
  <h3>{{contact.title}}</h3>
  <p>{{contact.description}}</p>
  <li>{{companyName}}</li>
  <li>Tel: {{contact.tel}}</li>
  <li>Fax: {{contact.fax}}</li>
  <li>Hotline: {{contact.hotline}}</li>
</footer>
